@import "compass";
@import "susy";

// Colors
$border         : #ece6da;
$text           : #333332;
$sidebar-bg     : #f8f5f0;
$green          : #50b26d;

// Fonts
$headline       : "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
$body           : "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;

// Susy config
$media-layout   : 12;
$breakpoint     : 12;
$container-style: fluid;


body {
  @include container(100%);

  h1 {
    font-family: $headline;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    letter-spacing: -0.05em;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    a {
      text-decoration: none;
    }
  }

  p {
    font-family: $body;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: .01rem;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    color: $text;
  }

  a {
    color: darken($text, 10%);
  }

  .read-more {
    font-weight: bold;
  }

  time {
    margin: 0;
    padding: 0;

    font-style: italic;
    color: lighten($text, 50%);
    font-size: 95%;
  }

  blockquote {
    font-size: 140%;
    color: lighten($text, 50%);
    font-family: $body;
    font-style: italic;

    border-left: 4px solid $green;
    margin-left: 0;

    padding: 5px;
    padding-left: 15px;
  }

  input {
    border: 1px solid $border;
    padding: 8px;
    @include border-radius(3px);

    font-family: $body;
    color: $text;
    font-size: 90%;

    &.button {
      border: none;

      background-color: $green;

      color: #fff;
      @include text-shadow(darken($green, 20%) 1px 1px 0);
      font-family: $headline;
      font-weight: 400;
  
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;

      &:hover {
        background-color: darken($green, 4%);
      }
    }
  }

  .large-image {
    display: inline-block;

    float: left;
    width: 100%+gutter(1)+gutter(1);
    margin-left: - gutter(1);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  img {
      max-width: 100%;
  }

  header {
    margin-top: 10px;

    .title {
      @include prefix(1);
      @include span-columns(7, $media-layout);

      @include at-breakpoint($breakpoint) {
        @include span-columns(5, $media-layout);
      }

      h1 {
        font-family: $body;
        font-weight: 400;
        letter-spacing: .01rem;
  
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
  
        color: $text;
  
        font-size: 25px;
      }
    }

    nav {
      @include suffix(1);

      @include span-columns(3 omega, $media-layout);

      @include at-breakpoint($breakpoint) {
        @include span-columns(5 omega, $media-layout);
      }

      &.sidebar {
        @include at-breakpoint($breakpoint) {
          @include span-columns(4, $media-layout);
        }
      }

      .small {
        display: block;

        @include at-breakpoint($breakpoint) {
          display: none;
        }
      }

      .full {
        display: none;

        @include at-breakpoint($breakpoint) {
          display: block;
        }
      }

      .full, .small {
        float: right;
        list-style: none;

        li {
          float: left;

          margin: 10px;

          a {
            color: lighten($text, 50);
            text-decoration: none;

            &:hover {
              color: $text;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .content {
    margin-top: 30px;
    margin-bottom: 50px;

    @include span-columns(10 omega, $media-layout);
    @include prefix(1);
    @include suffix(1);
  }

  .left {
    margin-top: 30px;
    margin-bottom: 50px;

    @include span-columns(10 omega, $media-layout);
    @include prefix(1);
    @include suffix(1);

    @include at-breakpoint($breakpoint) {
      @include span-columns(7, $media-layout);
    }
  }
  .right {
    display: none;

    @include at-breakpoint($breakpoint) {
      display: block;

      width: 24.1%;

      border-left: 1px solid $border;
      background-color: $sidebar-bg;
  
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;

      h2 {
        font-size: 130%;
        font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;

        color: lighten($text, 10%);
        margin-bottom: 0;
      }

      p {
        margin-top: 10px;
        font-size: 95%;
      }

      .profile {
        margin-top: 20px;
      }

      .newsletter {
        h2 {
          margin-top: 0;
        }
      }

      .profile, .newsletter {
        text-align: center;
        padding: 20px;

        border-bottom: 1px solid #ece6da;
      }
    }
    
  }

  &.index {
    .intro {
      @include span-columns(12 omega, $media-layout);

      border-bottom: 1px solid $border;
      padding-bottom: 40px;
      margin-bottom: 40px;

      text-align: center;

      p {
        font-size: 150%;
        @include prefix(2);
        @include suffix(2);
      }
    }

    .blog {
      @include at-breakpoint($breakpoint) {
        @include span-columns(4, $media-layout);
        @include prefix(1);
        @include suffix(1);
      }
    }

    .adventures {
      @include at-breakpoint($breakpoint) {
        @include span-columns(4 omega, $media-layout);
        @include prefix(1);
        @include suffix(1);
      }
    }

    ol {
      li {
        margin: 10px;
      }
    }
  }

  &.menu {

    .navigation {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 20px;
        margin: 0;
        border-bottom: 1px solid $border;
        text-align: center;

        &:first-child {
          border-top: 1px solid $border;
        }

        a {
          color: lighten($text, 50);
          text-decoration: none;
          font-size: 120%;
    
          &:hover {
            color: $text;
          }
        }
      }
    }
    
  }
  &.about_index {
    @include at-breakpoint($breakpoint) {
      background-color: #fcfcfc;
      background-image: url("/images/niklas.jpg");
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-position:left bottom;
      background-size: contain;

      header {
        .title {
          display: none;
        }
      }

      .about-content {
        @include span-columns(7 omega, $media-layout);
        @include prefix(5);
      }
    }
  }
}