<% wrap_layout :base do %>
  <div class="left">
    <%= yield %>
  </div>
  
  <div class="right">
    <!-- Begin MailChimp Signup Form -->
    <form action="http://stephenson.us3.list-manage1.com/subscribe/post?u=8caf3a694f2ed844ae8e4c4c1&amp;id=a7cfc4438d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>

      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">

      <div style="position: absolute; left: -5000px;"><input type="text" name="b_8caf3a694f2ed844ae8e4c4c1_a7cfc4438d" value=""></div>
  
      <input type="submit" value="Subscribe" name="subscribe">
    </form>

    <!--End mc_embed_signup-->
  </div>
<% end %>