---
title: Adventure Bike TV
date: 2014-06-29
description: A new Adventure Bike TV show with reviews, features etc.
tags:
nav_class: "sidebar"
---

A fantastic new show about Adventure motorcycling, the first episode is three weeks old, so the next episode must be around the cornor!

I am especially looking forward to follow Lisa and Jason, on their adventure [Two Wheeled Nomad](http://twowheelednomad.com/).

<style>.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://player.vimeo.com/video/96995874' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

Follow future episodes on [adventurebiketv.com](http://www.adventurebiketv.com).