---
title: A small step
date: 2014-08-05
description: Our first small step on a motorcycle adventure
tags:
nav_class: "sidebar"
---

For years I have dreamt about going on a motorcycle adventure. In the fall of last year I got my first bike, a true adventure motorcycle. In the spring I have bean on several small adventures in Denmark and Sweden and I succeeded in convince my girlfriend to use our summer holidays on the back of my BMW G650GS. 

<div class="large-image"><%= image_tag 'blog/rodeside-service.jpg', :alt => "" %></div>

After many late nights looking at maps, shopping for gear and dreaming we left four days ago. It was a early sunny morning, the mood was good, but the bike was extremely heavy with all the gear on it. I had to get used to it! 

We hit the highway to go down to the fairy between Gedser in Denmark and Rostock in northern Germany with Italy as our goal 7 days away. I knew the bike was in perfect condition, with only 7000 kilometres on the clock and fresh oil in the engine we ware good to go! 100 kilometres later we was sitting in the parking lot next to a gas station waiting for roadside service.

I bought a BMW GS because of the great reputation (maybe Charley and Ewan’s adventures had something to say too), their durability and the easy maintenance. So before going on my trip I asked a friend who is a motorcycle mechanic to help me change the oil, just to pamper the engine. After draining the bike and following the instructions in the workshop manual we still had a hard time to get enough oil in the tank. After some struggle we got the 2.3 litres on my baby. Two days later the bike was pissing oil on the highway covering the entire engine and back brake with oil making it hard to brake when we discovered what happened. 

After trying to wash off the oil with the help of a friendly truck mechanic and riding a few kilometres more we had to stop after the oil started to burn on the exhaust. Time to call roadside services. An hour later the bike was on the back of a truck going all the way back to where we embarked on our adventure. 

This happened on a Saturday and all BMW workshops are closed in the weekends so the hopes was that the bike would be fixed Monday. Monday came, Monday went and the two mechanics didn’t have time to look at our bike. Now its Tuesday and the mechanics should be working on the bike as I write this, if they can’t fix it today we leave in our car.

What a start of my life as a adventure motorcyclist.