---
title: Finding Main Street
date: 2014-05-18 16:40 UTC
description: A short film about three friends driving across America on cheap motorcycles adventure.
tags:
nav_class: "sidebar"
---

A short film about three friends (Brant Ozanich, Dylan Ozanich, and Wyatt McCall) driving across America on cheap motorcycles adventure.

An epic adventure all motorcyclist dream to experience.

<style>.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://player.vimeo.com/video/95304564' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

Sources: [findingmainstreet.com](http://findingmainstreet.com/)