---
title: The last message
date: 2013-05-11 16:40 UTC
tags:
nav_class: "sidebar"
---

<p class="byline">My dad is dead, and I didn’t get the chance to say goodbye.</p>

<div class="large-image"><%= image_tag 'blog/kolo.jpeg', :alt => "Haveforeningen Søvang" %></div>

<p>I have always lived with the notion that there would be a final goodbye: <b>I was wrong.</b></p>

My dad has always been a caveman. He loved his allotment and he lived there all year round, hacking the little cottage into an optimized miniature home. He loved to hide from his family on Christmas Eve, with a good bottle of wine and nobody to disrupt him while he enjoyed his old worn-out LPs. His caveman mentality was grounded in many things: he was manic depressive and an alcoholic, but his lifestyle was different in so many other aspects.

<%= image_tag 'blog/jeff.jpeg', :alt => "Jeff Stephenson" %>

The communication between my dad and me has always been sporadic, a call or a text now and then. To go 14 days without any communication was normal. Not because we didn’t want to talk, but the need wasn’t there. When we finally spoke, we know exactly where we stood with each other. The topics became deeper and longer and, even more telling, we were like two old men smoking pipes and discussing how to change the world.

In the light of our normal communication flow, it was not strange to get only a few messages from him after his hernia operation.

<blockquote>“I’m okay, spooky feeling, but okay.”</blockquote>

I replied: “Great!”

I didn’t think much about the nine days without a message from him, but when my sister called and told me that he had been found dead, my brain started spinning.

Five thrombi in the lungs were the final blow for my loving dad.

The thrombi were a side effect of his operation. To get five thrombi is a dreadful experience, for many it means death, like my dad. For him it wasn’t a sad ending, it was a choice of destiny. He had had a tough life, with his severe alcohol abuse and mental illness, and this was the easy way out. No need to commit suicide, just actively choose not to call 911. He poured a last glass of red wine, lit a last smoke and wrote a farewell letter addressed to my sister and me. The letter was his final message to us: short, precise and full of love.

It was the next best farewell I could get.

I am still walking around waiting for him to call or write. Though, six months after his death, it’s now starting to become clear: <b>I have had the last message from my dad.</b>