<div class="about-content">
  <h1>Niklas Stephenson</h1>
  <h2>Co-founder and VP Product at Firmafon</h2>
  <p>I love building a business around solving people’s problems with software.</p>
  
  <p>Working on Firmafon, speaking about startups and enjoy brainstorming new business concepts.</p>
  
  <p>You are more then welcome to contact me on niklas@stephenson.dk.</p>
</div>